services:
  web:
    image: nginx:alpine
    container_name: blog-web
    restart: always
    ports:
      - "80:80"
    volumes:
      # Data volume for static files
      # Run 'mkdir dist' next to this file and unzip content there
      - ./dist:/usr/share/nginx/html
    # Embed Nginx config directly in the command to avoid external file dependencies
    # Note: $$ is used to escape $ in docker-compose
    command: >
      /bin/sh -c "echo 'server {
        listen 80;
        server_name localhost;
        location / {
          root /usr/share/nginx/html;
          index index.html;
          try_files $$uri $$uri/ $$uri.html /404.html;
        }
      }' > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
